/* Estilos globales */
body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  
  .titulo {
  text-align: center;
  margin-top: 20px;
  font-size: 28px; }

  section {
  margin-bottom: 20px; }

  /* Estilos para el header */
  header {
  background-color: #8dbdfd;
  color: #fff;
  text-align: center;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.header {
  display: flex;
  align-items: center;
  justify-content: left; }

/* Estilos para la "barra de navegación" */
nav {
  display: flex;
  align-items: center; }

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px; }

/* Estilos para imágenes */
img#logo {
  width: 5%;
  height: auto;
  border-radius: 50%;
  margin-right: 10px; }

img.icon {
  height: 30px;
  width: 30px; }

img.technologies {
  height: 55px;
  width: auto;
  padding: 5px; }

.imagen-perfil {
  float: left;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 25px;
  display: flex; }

.imagen-perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

  /* Sección "Sobre mí" */
 #aboutMe {
color: black;
text-align: left; }

#aboutMe, section {
background-color: #f2f2f2;
padding: 30px;
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

/* Estilos para la sección de proyectos */
.projects {
  text-align: center;
  margin: 20px auto; }

.projects a {
  display: inline-block;
  border-radius: 10px;
  overflow: hidden; }

.projects img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }


/* "Footer" de la página */
footer {
  text-align: center;
  background-color: #8dbdfd;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column; }

footer img {
  padding: 15px;
  max-height: 10ch;
}

/* Media queries para redimenzionar la web a celulares */
@media (max-width: 768px) {
  header {
  padding: 10px 20px;} 

  .header {
  align-items: center;}

  img#logo {
  width: 50px;}

  nav {
  flex-direction: column; }

  nav a {
  margin: 5px 0; }

  img.icon {
  height: 25px;
  width: 25px; }

  .projects img {
  max-width: 90%; }

  .descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}